/* static/style.css */

html, body {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
        }



#panel
{
    position: relative;
    clear:both;
 //   height: 10%;
    background-color: white;
    padding: 10px;
    margin-left:45%;   
}


#control{
    height:90%;
   }

        #left {
            position: absolute;
            left: 0;
            height: 85%;
            width: 50%;
            background: rgba(200, 255, 0, 0.2);
        }

        #right {
            position: absolute;
            right: 0;
            height: 85%;
            width: 50%;
            background: rgba(0, 0, 255, 0.2);
        }
/*
h1 {  
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 46px;
}

h3 {  
  color: white;
  font-size: 36px;
}

li {  
  color: red;
  font-size: 50px;
}

body {  
    background: firebrick;
}
*/

